---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on 
    <a href="https://scholar.google.com/citations?user=JaK-7a0AAAAJ&hl=zh-TW&oi=sra">my Google Scholar profile</a>.
  </div>
{% endif %}

### (A) Major work

#### Published or In press​:
<ol>
  <li>An-Shun Tai and Sheng-Hsuan Lin* (2024+). Multiply robust estimation of natural indirect effects with multiple ordered mediators. <em>Statistics in Medicine</em>. [R code]</li>
  <li>An-Shun Tai and Sheng-Hsuan Lin* (2023). Complete effect decomposition for an arbitrary number of multiple ordered mediators with time-varying confounders: A method for generalized causal multi-mediation analysis. <em>Statistical Methods in Medical Research</em>. 32(1), 100-117.</li>
  <li>An-Shun Tai, Sheng-Hsuan Lin*, Yu-Cheng Chu, Tsung Yu, Milo A. Puhan, and Tyler VanderWeele (2023). Causal mediation analysis with multiple time-varying mediators. <em>Epidemiology</em>. 34(1): p 8-19 [Link]</li>
  <li>An-Shun Tai, Ro-Ting Lin*, Yi-Chun Lin, Chung-Hsing Wang, Sheng-Hsuan Lin, Seiya Imoto (2022 Aug). Genome-wide causal mediation analysis identifies genetic loci associated with uterine fibroids mediated by age at menarche. <em>Human Reproduction</em>. 37(9): 2197-2212. doi: 10.1093/humrep/deac136.</li>
  <li>An-Shun Tai, Pei-Hsuan Lin, Yen-Tsung Huang, and Sheng-Hsuan Lin* (2022). Path-specific effects in the presence of a survival outcome and causally ordered multiple mediators with application to genomic data. <em>Statistical Methods in Medical Research</em>. 31(10): 1916-1933. doi: 10.1177/09622802221104239 [Link]</li>
  <li>An-Shun Tai, Le-Hsuan Liao, and Sheng-Hsuan Lin* (2022). On the conventional definition of path-specific effects - fully mediated interaction with multiple ordered mediators. <em>Epidemiology</em>. 33(6): p 817-827. DOI: 10.1097/EDE.0000000000001520. [Link]</li>
  <li>An-Shun Tai, Chun-Chao Wang, and Wen-Ping Hsieh* (2022). Detection of cell separation–induced gene expression through a penalized deconvolution approach. <em>Statistics in Biosciences</em>. https://doi.org/10.1007/s12561-022-09344-8.</li>
  <li>An-Shun Tai and Sheng-Hsuan Lin* (2022). Identification and robust estimation of swapped direct and indirect effects: Mediation analysis with unmeasured mediator–outcome confounding and intermediate confounding. <em>Statistics in Medicine</em>. https://doi.org/10.1002/sim.9501. [Link]</li>
  <li>An-Shun Tai, Yi-Juan Du, and Sheng-Hsuan Lin* (2022). Robust inference on effects attributable to mediators: A controlled-direct-effect-based approach for causal effect decomposition with multiple mediators. <em>Statistics in Medicine</em>. https://doi.org/10.1002/sim.9329.</li>
  <li>An-Shun Tai, Yen-Tsung Huang, Hwai-I Yang, Lauren V. Lan, and Sheng-Hsuan Lin* (2022). G-computation to causal mediation analysis with sequential multiple mediators – investigating the vulnerable time window of HBV activity for the mechanism of HCV induced hepatocellular carcinoma. <em>Frontiers in Public Health</em>. doi: 10.3389/fpubh.2021.757942.</li>
  <li>An-Shun Tai and Sheng-Hsuan Lin* (2021). Integrated multiple mediation analysis: A robustness–specificity trade-off in causal structure. <em>Statistics in Medicine</em>. https://doi.org/10.1002/sim.9079.</li>
  <li>An-Shun Tai, Chun-An Tsai, and Sheng-Hsuan Lin* (2021). Survival mediation analysis with the death-truncated mediator: The completeness of the survival mediation parameter. <em>Statistics in Medicine</em>. https://doi.org/10.1002/sim.9008.</li>
  <li>An-Shun Tai, George C. Tseng, and Wen-Ping Hsieh* (2021). BayICE: A Bayesian hierarchical model for semi-reference-based deconvolution of bulk transcriptomic data. <em>Annals of Applied Statistics</em>. 15(1): 391 - 411. https://doi.org/10.1214/20-AOAS1376. [Link] [R code]</li>
  <li>An-Shun Tai, Chien-Hua Peng*, Shih-Chi Peng, and Wen-Ping Hsieh* (2018). Decomposing the subclonal structure of tumors with two-way mixture models on copy number aberrations. <em>PLOS ONE</em>. 13(12): e0206579. [Link] [R code]</li>
</ol>

#### Papers in review or in revision:​
<ol>
  <li>An-Shun Tai* (2024+). Robust semiparametric estimation of average causal effects in Mendelian randomization under an intermediate variable intervention. In preparation.</li>
  <li>Yan-Lin Chen, Yan-Hong Chen, Pei-Fang Su, Huang-Tz Ou, and An-Shun Tai* (2024+). Robust inference for causal mediation analysis of recurrent event data. Submitted. [arXiv]</li>
  <li>An-Shun Tai, Yu-Cheng Chu, and Sheng-Hsuan Lin* (2024+). Causal mediation analysis of non-mortality outcomes with follow-up truncated by death: Survivor natural direct and indirect effect. Submitted.</li>
</ol>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
