---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

<h2>Research Interests:</h2>
<hr>
<ul>
  <li>Biostatistics​​</li>
  <li>Bioinformatics (Statistical Genomics)</li>
  <li>Bayesian Inference (Bayesian variable selection)</li>
  <li>Causal inference</li>
  <li>Multiple mediation analysis</li>
  <li>Mendelian Randomization</li>
  <li>Robust estimation</li>
</ul>

<h2>Research Grants:</h2>
<ul>
  <li>
    <strong>NCKU Sustainable Integrated Interdisciplinary Project 成功大學永續跨領域整合型計畫</strong> <br>
    PI, 2023/04/01 ~ 2024/12/31, $1,850,000 <br>
    Project Title: An integrative causal statistical framework applied to exploring the effects of non-invasive ultrasonic nerve stimulation on the hematopoietic system.
  </li>
  <li>
    <strong>NCKUH Smart Healthcare Interdisciplinary Project 智慧健康照護跨領域計畫 (NCKUH-11310014)</strong> <br>
    Co-PI, 2024/01/01 ~ 2024/12/31, $706,800 <br>
    Project Title: To investigate the germline genetic variants and immunotherapeutic resistance in colorectal cancers with mismatch repair deficiency by next-generation sequencing, analysis of tumor heterogeneity and deep learning model.
  </li>
  <li>
    <strong>National Science and Technology Council, Taiwan (NSTC 111-2118-M-006 -010 -MY3)</strong> <br>
    PI, 2022/09/01 ~ 2025/07/31, $3,034,000 <br>
    Project Title: Statistical methods of causal mediation analysis by using instrumental variables: Application to genomic studies.
  </li>
</ul>

<h2>Selected Research works:</h2>
{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}
